@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
header {
  background: #e6f0ff;
  height: 736px;
  padding-top: 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  margin-top: 38px;
}
.nav-items ul {
  display: flex;
}
.nav-items ul li {
  margin-right: 25px;
}
.nav-items ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #4f5361;
}
.login a {
  margin-right: 18px;
  font-size: 16px;
  font-weight: 500;
}
.login > a {
  color: #0f1b4c;
}
.login a:last-child {
  display: inline-block;
  padding: 10px 35px;
  color: white;
  background-color: #0f1b4c;
  border-radius: 8px;
}
.banner {
  display: flex;
  padding: 30px 0px 0px 0px;
  gap: 150px;
  /* gap: 200px; */
}
.banner img {
  position: relative;
  bottom: 20px;
}
.about {
  width: 560px;
  /* padding: 100px 200px; */
  padding: 130px 280px;
}
.about p {
  /* width: 400px; */
  font-weight: 500;
  color: #687690;
  font-size: 18px;
}
.about h1 {
  font-weight: bolder;
  font-size: 64px;
  color: #000336;
  /* margin-top: -20px; */
  line-height: 80px;
  margin-bottom: 30px;
}
.about > p {
  margin-bottom: 10px;
}
.about a {
  display: inline-block;
  padding: 15px 35px;
  color: white;
  background-color: #0f1b4c;
  border-radius: 8px;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 500;
}

.summary {
  margin-top: 120px;
}
.reviews {
  display: flex;
  justify-content: space-around;
}
.reviews p {
  color: #7d8589;
  font-weight: 500;
  font-size: 16px;
  margin-top: 12px;
}
.fa-star {
  color: orange;
  font-size: 20px;
}
.logos {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 60px;
}
.logo {
  /* padding: 10px 40px; */
  width: 205px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active-logo {
  width: 205px;
  height: 70px;
  background: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo:hover {
  /* padding: 25px 40px; */
  background: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  background-color: white;
}
.guidelines-section {
  margin-top: 120px;
}
.hr {
  height: 6px;
  background-color: #000339;
  width: 58px;
  margin: 0 auto;
  border-radius: 12px;
}
.guidelines-section h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #000339;
  margin-top: 5px;
}
.guidelines-section p {
  text-align: center;
  font-size: 16px;
  color: #5a6473;
  line-height: 30px;
  margin-bottom: 60px;
}
.guidelines {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 280px;
}
.guidelines img {
  display: block;
  margin: 0 auto;
  /* margin-left: 26px; */
  /* margin: 0 auto; */
}
.guidelines h3 {
  color: #3b3c45;
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
}
.guideline {
  width: 170px;
}
.guideline > a {
  color: #0689ff;
  font-weight: 600;
  text-align: center;
}
.full-guideline {
  display: block;
  margin: 0 auto;
  width: 150px;
  margin-top: 45px;
  padding: 15px 35px;
  color: white;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  background-color: #0f1b4c;
  border-radius: 12px;
  font-size: 15px;
}
.feature-section {
  background-color: #f5fafe;
  margin-top: 110px;
  padding: 110px 400px;
}
.feature-title {
  color: #000339;
  font-size: 35px;
  font-weight: 600;
}
.feature-info {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 70px;
}
.feature-info > p {
  color: #5a6473;
  font-size: 16px;
}
.feature-info a {
  font-size: 18px;
  color: #0689ff;
  font-weight: 600;
}
.feature-cards {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.feature-card {
  width: 350px;
  background: #ffffff;
  box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
  border-radius: 12px;
  padding-bottom: 30px;
}
.feature-card h2 {
  color: #000339;
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 20px;
}
.feature-card > p {
  font-size: 15px;
  color: #a3a6ab;
  /* margin-left: 20px; */
  font-weight: 500;
  margin: 8px 0px 20px 20px;
}
.facilities-items {
  display: flex;
  justify-content: space-evenly;
}
.facilities {
  display: flex;
  gap: 8px;
}
.facilities .last-icon {
  width: 20px;
  height: 20px;
}
.last-section {
  padding: 150px 300px 0px 300px;
}
.hr2 {
  margin: 0;
}
.hero {
  display: flex;
  gap: 200px;
}
.hero-details h1 {
  color: #000339;
  margin-top: 10px;
  font-size: 40px;
}
.hero-details p {
  color: #5a6473;
  font-size: 16px;
}
.hero img {
  margin-bottom: 110px;
}
.counter-cards {
  display: flex;
  justify-content: center;
  gap: 130px;
  margin-top: 100px;
}
.counter-card {
  width: 250px;
  text-align: center;
}
.counter-card h1 {
  color: #000000;
  font-size: 64px;
  font-weight: 600;
}
.counter-card p {
  color: #7b8087;
  font-size: 18px;
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: 110px;
}
.support {
  width: 1300px;
  background-color: #063183;
  display: flex;
  gap: 180px;
  margin-bottom: 120px;
  margin-top: 100px;
  height: 410px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  /* overflow: hidden; */
}
.support img {
  margin-top: -50px;
  height: 460px;
}
.support-info{
    margin-left: 130px;
}
.support-info h1 {
    margin-top: 100px;
  color: white;
  font-size: 35px;
  font-weight: 600;
}
.support-info p{
    font-size: 16px;
    color: white;
    margin-top: 08px;
}
.support-info button{
    border: none;
    background-color: white;
    padding: 15px 25px;
    border-radius: 12px;
    margin-top: 25px;
}
.footer{
    display: flex;
    justify-content: space-around;
    /* gap: 200px; */
}
.flex{
    display: flex;
    flex-direction: column;
}
.footer-title{
    font-size: 20px;
    color: #1C1C1D;
    font-weight: bold;
    margin-bottom: 15px;
}
.product, .resources, .company, .get-in-touch{
    width: 150px;
}
.footer a{
    color: #7A7A7E;
    margin-bottom: 10px;
}
.getin{
    color: #7A7A7E;
}
.get-in-touch i{
    margin-top: 14px;
    background: #F9F9F9;
    padding: 10px 13px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
}
.copyright{
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    /* gap: 580px; */
}
.copyright p{
    color: #7A7A7E;
}