@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
header {
  background: #e6f0ff;
  height: 736px;
  padding-top: 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  margin-top: 38px;
}
.nav-items ul {
  display: flex;
}
.nav-items ul li {
  margin-right: 25px;
}
.nav-items ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #4f5361;
}
.login a {
  margin-right: 18px;
  font-size: 16px;
  font-weight: 500;
}
.login > a {
  color: #0f1b4c;
}
.login a:last-child {
  display: inline-block;
  padding: 10px 35px;
  color: white;
  background-color: #0f1b4c;
  border-radius: 8px;
}
.banner {
  display: flex;
  padding: 30px 0px 0px 0px;
  gap: 150px;
  /* gap: 200px; */
}
.banner img {
  position: relative;
  bottom: 20px;
}
.about {
  width: 560px;
  /* padding: 100px 200px; */
  padding: 130px 280px;
}
.about p {
  /* width: 400px; */
  font-weight: 500;
  color: #687690;
  font-size: 18px;
}
.about h1 {
  font-weight: bolder;
  font-size: 64px;
  color: #000336;
  /* margin-top: -20px; */
  line-height: 80px;
  margin-bottom: 30px;
}
.about > p {
  margin-bottom: 10px;
}
.about a {
  display: inline-block;
  padding: 15px 35px;
  color: white;
  background-color: #0f1b4c;
  border-radius: 8px;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 500;
}

.summary {
  margin-top: 120px;
}
.reviews {
  display: flex;
  justify-content: space-around;
}
.reviews p {
  color: #7d8589;
  font-weight: 500;
  font-size: 16px;
  margin-top: 12px;
}
.fa-star {
  color: orange;
  font-size: 20px;
}
.logos {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 60px;
}
.logo {
  /* padding: 10px 40px; */
  width: 205px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active-logo {
  width: 205px;
  height: 70px;
  background: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo:hover {
  /* padding: 25px 40px; */
  background: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  background-color: white;
}
.guidelines-section {
  margin-top: 120px;
}
.hr {
  height: 6px;
  background-color: #000339;
  width: 58px;
  margin: 0 auto;
  border-radius: 12px;
}
.guidelines-section h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #000339;
  margin-top: 5px;
}
.guidelines-section p {
  text-align: center;
  font-size: 16px;
  color: #5a6473;
  line-height: 30px;
  margin-bottom: 60px;
}
.guidelines {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 280px;
}
.guidelines img {
  display: block;
  margin: 0 auto;
  /* margin-left: 26px; */
  /* margin: 0 auto; */
}
.guidelines h3 {
  color: #3b3c45;
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
}
.guideline {
  width: 170px;
}
.guideline > a {
  color: #0689ff;
  font-weight: 600;
  text-align: center;
}
.full-guideline {
    display: block;
    margin: 0 auto;
  width: 150px;
  margin-top: 45px;
  padding: 15px 35px;
  color: white;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  background-color: #0F1B4C;
border-radius: 12px;
font-size: 15px;
}
